@model List<RFoundation.PL.WEB.Models.FileViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="container jumbotron" id="index" style="background: white">
    
    <div class="container jumbotron" style="background: white">
        <div class="">
            @using (Ajax.BeginForm("FileSearch", new AjaxOptions { UpdateTargetId = "filesearchresults" }))
            {
                <div class="row">

                    <div class="col-md-offset-4 col-lg-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn  btn-default" type="submit">Search!</button>
                            </span>
                            <input type="text" name="name" class="form-control" placeholder="for...">
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
    <div id="filesearchresults">
        <table id="myTable" class="col-md-8 table table-striped tablesorter table-hover">
            <thead class="thead-default">
                <tr>
                    <th class="header text-center">File Name</th>
                    <th class="header text-center">Extension</th>
                    <th class="header text-center">Uploading Date</th>
                    <th class="header text-center">Size</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null && Model.FirstOrDefault() != null)
                    {
                        foreach (var file in Model)
                        {
                            if (file != null && file.Received == false)
                            {
                                <tr>
                                    <td class="container text-center col-sm-6">
                                        @file.Name
                                        <div class="menu ">
                                            <!--TODO: Action links-->
                                            @Html.ActionLink(" ", "GetFile", "Home", new {id = file.Id}, new {@class = "glyphicon glyphicon-download"})
                                            @Html.ActionLink(" ", "DeleteFile", "Home", new {id = file.Id}, new {@class = "glyphicon glyphicon-remove-circle"})
                                            @Html.ActionLink(" ", "ShareFile", "File", new {fileId = file.Id}, new {@class = "glyphicon glyphicon-share"})

                                        </div>
                                    </td>
                                    <td class="text-center">@file.Extension</td>
                                    <td class="text-center">@file.UploadDate.ToString("g")</td>
                                    <td class="text-center">
                                        @{ double fileSizeMb = file.Size / 1000.0; }
                                        @Math.Round(fileSizeMb, 3) Kb
                                    </td>
                                </tr>
                                            }
                                            if (file != null && file.Received == true)
                                            {
                                                <tr>
                                                    <td class="container text-center col-sm-6" style="color: GrayText">
                                                        @file.Name
                                                        <div class="menu">
                                                            @Html.ActionLink(" ", "GetFile", "Home", new { id = file.Id }, new { @class = "glyphicon glyphicon-download" })

                                                        </div>
                                                    </td>
                                                    <td class="text-center">@file.Extension</td>
                                                    <td class="text-center">@file.UploadDate.ToString("g")</td>
                                                    <td class="text-center">
                                                        @{ double fileSizeMb = file.Size / 1000.0; }
                                                        @Math.Round(fileSizeMb, 3) Kb
                                                    </td>
                                                </tr>
                                                                    }
                                                                }

                                                            }
                }


            </tbody>
        </table>
    </div>
    @*@using (Ajax.BeginForm("Upload", "Home", new AjaxOptions()
    {
        UpdateTargetId = "results"
    }, new { @class = "xxxform" }))*@

    <form action="#" class="xxxform">
        <label class="btn btn-default btn-file upload">
            Browse<input type="file" name="upload" style="display: none;" id="uploadFile" multiple>
        </label>
        <button class="btn btn-default upload x" type="submit" id="submit">Upload</button>

        <button type="button" class="btn btn-default cancel" style=""> Cancel </button>
        <div class="upload-text"></div>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 0%"></div>
        </div>

    </form>
</div>

<script>

    $("#uploadFile").on("change",
      function (e) {
          var files = document.getElementById('uploadFile').files;
          if (files.length > 0) {
              for (var i = 0; i < files.length; i++)
                  $(".upload-text").append(" " + files[i].name + " ");
          }
      });

    $('.xxxform').submit(function (e) {
        e.preventDefault();
            //alert("stop");
            $form = $(this);

        uploadImage($form);
       
    });

    //$(document).on('submit', 'form', function (e) {
    //    e.preventDefault();

    //    $form = $(this);

    //    uploadImage($form);

    //});

    function uploadImage($form) {
        $form.find('.progress-bar').removeClass('progress-bar-success')
            .removeClass('progress-bar-danger');

        var formdata = new FormData($form[0]); //formelement
        var request = new XMLHttpRequest();

        //progress event...
        request.upload.addEventListener('progress', function (e) {
            var percent = Math.round(e.loaded / e.total * 100);
            $form.find('.progress-bar').width(percent + '%').html(percent + '%');
        });

        //progress completed load event
        request.addEventListener('load', function (e) {
            $form.find('.progress-bar').addClass('progress-bar-success').html('upload completed....');
            setTimeout(function () {
                $('.progress-bar').removeClass('progress-bar-success');
                $('.progress-bar').css("width", "0");

                $('#results').load('@Url.Action("Index", "Home")');
            },
                1500);

        });

        request.open('post', '@Url.Action("Upload", "Home")');
        request.send(formdata);

        $form.on('click', '.cancel', function () {
            request.abort();

            $form.find('.progress-bar')
                .addClass('progress-bar-danger')
                .removeClass('progress-bar-success')
                .html('upload aborted...');
        });

    }
        //thanks for watching........
        //code on git........

        //subscribe, share, like, comment.............
</script>
@*<script type="text/javascript">

    $("#uploadFile").on("change",
               function (e) {
                   var files = document.getElementById('uploadFile').files;
                   if (files.length > 0) {
                       for (var i = 0; i < files.length; i++)
                           $(".upload-text").append(" " + files[i].name + " ");
                   }
               });



    $('#submit').on('click', function (e) {
        e.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload", "Home")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                       $('#results').load('@Url.Action("Index", "Home")');
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }

                });
            } else {
                alert("Браузер не поддерживает загрузку файлов HTML5!");
            }
        }
    });
</script>*@

<script src="~/Scripts/tableSorter/jquery.tablesorter.js"></script>
<script>

        (function() {
            $(document)
                .ready(function() {
                    $("#myTable").tablesorter();
                });
            $(document)
                .ready(function() {
                    $("#myTable")
                        .tablesorter({
                            sortList: [
                                [0, 0],
                                [1, 0]
                            ]
                        });
                });

           
        })();

</script>
@section scripts
{

}